.wrapper {
    position: relative;
    flex: 1;
    padding: 24px 32px;
    width: 100%;
}

.comment {
    max-width: 520px;
    width: 100%;
    position: fixed;
    overflow: scroll;
    height: 600px;
}

.enter-comment-wrap {
    border-top: 1px solid #e3e3e3;
    margin-left: -32px;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.enter-comment {
    padding: 14px 20px;
    background-color: #f1f1f1;
    width: 80%;
    margin-bottom: 20px;
    border-radius: 4px;
    color: var(--primary-color);
    cursor: pointer;
}
