.search,
.search-result {
    width: 361px;
}

.search-title {
    font-size: 1.4rem;
    padding: 5px 12px;
    color: rgba(22, 24, 35, 0.5);
}

.search {
    --search-height: 46px;
    --top-space: 9px;
    width: 470px;
    height: var(--search-height);
    position: relative;
    background-color: #f1f1f2;
    border-radius: var(--search-border-radius);
    display: flex;
    align-items: center;
    padding-left: 16px;
    border: 1px solid transparent;
    &:focus-within {
        border-color: rgba(
            22,
            24,
            35,
            0.2
        ); // khi ta focus vào thì sẽ hiện border
    }
}

.input {
    border: none;
    outline: none;
    background-color: unset;
    font-size: 1.6rem;
    color: #828282;
    padding: 12px 40px 12px 0;

    flex: 1;
    caret-color: var(--primary-Color);
    &:not(:placeholder-shown) ~ .search-btn {
        color: var(--text-color);
    }
    font-family: var(--font-family);
}

.clear,
.loading {
    position: absolute;
    right: 52px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: rgb(166, 167, 171);
    margin-right: 14px;
}

.clear {
    &:hover {
        cursor: pointer;
    }
}

.loading {
    animation: spiner 0.8s linear infinite;
}

@keyframes spiner {
    from {
        transform: translateY(-50%) rotate(0);
    }
    to {
        transform: translateY(-50%) rotate(360deg);
    }
}

.search-btn {
    position: relative;
    width: 52px;
    height: 100%;
    outline: none;
    border: none;
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);
    font-size: 1.8rem;
    color: rgba(22, 24, 35, 0.3);
    &:hover {
        background-color: rgb(225, 223, 223);
        cursor: pointer;
    }

    &::before {
        position: absolute;
        left: 0;
        top: var(--top-space);
        display: block;
        content: '';
        width: 1px;
        height: calc(var(--search-height) - var(--top-space) * 2);
        background-color: rgba(22, 24, 35, 0.12);
    }

    &:active {
        background-color: rgba(22, 24, 35, 0.06);
    }
}
