.wrapper {
    width: 100%;
}

.infor-head {
    width: 560px;
    display: flex;
    padding: 32px 32px 0 32px;
    justify-content: space-between;
    align-items: center;
}

.avata-wrap {
}

.avata {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.name {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 40px;
    margin-left: 6px;
}

.nick-name {
    font-size: 1.8rem;
    color: #161823;
    font-weight: 500;
}

.full-name {
    font-size: 1.4rem;
    color: #161823;
}

.btn-follow {
    color: var(--primary-color);
}

.infor-body {
    padding: 0 32px;
}

.link {
    display: block;
    margin-top: 16px;
    font-size: 1.6rem;
    color: #161823;
}

.music-wrap {
    margin-top: 16px;
    display: flex;
}

.icon-music {
    margin-right: 6px;
}

.music {
    font-size: 1.7rem;
    color: #161823;
    font-weight: 600;
}

.favorite-comment-share {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
}

.favorite-comment {
    display: flex;
}

.favorite-wrap,
.comment-wrap {
    display: flex;
    align-items: center;
    margin-right: 16px;
}

.icon-wrap {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(22, 24, 35, 0.06);
    border-radius: 50%;
    margin-right: 6px;
}

.favorite-icon,
.comment-icon {
    width: 17.5px;
    height: 17.5px;
}

.quantity {
    font-size: 1.2rem;
    color: #161823bf;
}

.share {
}

.icon-share {
    width: 24px;
    height: 24px;
    margin-left: 10px;
}

.icon-share {
}

.icon-share {
}

.icon-share {
}
