.wrapper {
    margin-top: 20px;
}

.header {
    display: inline-flex;
    border-bottom: 1px solid #d4d3d3;
}

.video-type {
    padding: 15px 42px;
    font-size: 1.8rem;
    font-weight: 500;
    cursor: pointer;
    border-bottom: 3px solid transparent;
}

.icon {
    padding-right: 4px;
}

.container {
    margin-top: 20px;
}

.isLock {
    color: #16182380;
}

.isActive {
    border-color: #161823;
}

.video-wrapper {
    display: inline-block;
    margin-right: 14px;
    margin-bottom: 26px;
    max-width: 210px;
}

.video {
    width: 210px;
    height: 300px;
    object-fit: cover;
    border-radius: 6px;
}

.video-desc {
    margin-top: 10px;
    font-size: 1.6rem;
    color: #333333;
    line-height: 19px;
    max-height: 19px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.Video-pivate {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.lock-icon {
    color: rgb(176, 180, 180);
}

.video-private-heading {
    padding-top: 24px;
    font-size: 2.4rem;
    color: #161823;
}

.video-private-title {
    padding-top: 16px;
    font-size: 1.6rem;
    color: #333333;
}
