.wrapper {
    font-size: 1.6rem;
    font-weight: 700;
    font-family: var(--font-family);
    min-width: 100px;
    padding: 9px 16px;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--white-color);
    border: 1px solid transparent;
    user-select: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    + .wrapper {
        margin-left: 8px;
    }

    &.disable {
        pointer-events: none;
        opacity: 0.5;
    }

    .title {
        color: var(--text-color);
        font-weight: 600;
    }

    .icon {
        color: var(--text-color);
    }
}

.icon + .title,
.title + .icon {
    margin-left: 8px;
}

.icon {
    display: inline-block;
    width: 24px;
    text-align: left;
}

// button type
.round {
    border-radius: 999px;
    border-color: rgb(232, 230, 230);
    color: #5a5858;
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
    &:hover {
        background-color: rgb(247, 243, 243);
    }
}

.primary {
    background-color: var(--primary-color);
    color: var(--white-color);
    border-color: var(--primary-color);
    &:hover {
        border-color: var(--primary-color);
        background: linear-gradient(
                0deg,
                rgba(0, 0, 0, 0.06),
                rgba(0, 0, 0, 0.06)
            ),
            #fe2c55;
    }

    .title {
        color: var(--white-color);
    }
}

.outline {
    border-color: var(--primary-color);
    color: var(--primary-color);
    &:hover {
        background-color: rgba(254, 44, 85, 0.08);
    }

    .title {
    }
    color: var(--primary-color) !important;
}

.text {
    border: unset;
    color: var(--text-color);
    &:hover {
        text-decoration: underline;
    }
}

// button size
.small {
    min-width: 88px;
    padding: 4px 16px;
}

.large {
    min-width: 140px;
    padding: 14px 16px;
}
