.wrapper {
    position: fixed;
    width: var(--default-with-sidebar);
    padding: 10px 8px 26px 8px;
    max-height: calc(100vh - var(--default-layout-header-height));
    overflow-y: hidden;
    flex-shrink: 0;
    &:hover {
        overflow-y: overlay;
    }
}

.login {
    border-top: 1px solid rgb(227, 227, 228);
    padding: 20px 0;
}

.title-login {
    font-size: 1.6rem;
    color: #16182380;
    line-height: 2rem;
}

.btn-login {
    margin-top: 20px;
    width: 100%;
    padding-top: 14px;
    padding-bottom: 14px;
}

// mobile
@media (max-width: 739px) {
    .login {
        display: none;
    }

    .wrapper {
        max-width: 70px;
        height: 100vh;
        border-right: 1px solid #e3e3e4;
    }
}

//tablet
@media (min-width: 740px) and (max-width: 1023px) {
    .login {
        display: none;
    }

    .wrapper {
        max-width: 70px;
        height: 100vh;
        border-right: 1px solid #e3e3e4;
    }
}

//pc
@media (min-width: 1024px) {
}
