.wrapper {
    position: fixed;
    top: 0;
    left: 0;

    --search-border-radius: 92px;
    height: var(--default-layout-header-height);
    background-color: #fff;
    box-shadow: 0 1px 1px rgb(0 0 0 / 12%);

    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 10;
}

.content {
    height: 100%;
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--default-layout-horizontal-spacer);
}

.logo {
    flex: 1;
    min-width: 150px;
    max-width: 257px;
}

// action
.action {
    display: flex;
    align-items: center;

    .btn-upload {
        border: 1px solid rgba(208, 208, 208, 0.5);
        border-radius: 0;
        width: 90px;
        padding: 7px 20px;
        border-radius: 4px;
        margin-right: 12px;
        &:hover {
            background-color: rgba(231, 231, 231, 0.5);
        }
    }

    .action-wrap {
        display: flex;
        align-items: center;
    }
}

.more-btn {
    font-size: 2rem;
    margin-left: 28px;
    background-color: transparent;
    padding: 8px;
    cursor: pointer;
}

.action-btn {
    background-color: transparent;
    position: relative;
    top: 3px;
    color: #262730;
    padding: 4px 10px;
    cursor: pointer;

    .badge {
        position: absolute;
        top: -3px;
        right: 0px;
        padding: 0px 6px;
        height: 2rem;
        line-height: 2rem;
        border-radius: 10px;
        font-size: 1.4rem;
        font-weight: 600;
        color: var(--white);
        font-family: 'ProximaNova', sans-serif;
        background-color: var(--primary-Color);
        color: var(--white-color);
    }
}

.user-avata {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 12px;
    cursor: pointer;
    overflow: hidden;
}

// responsive

// mobile
@media (max-width: 739px) {
}

//tablet
@media (min-width: 740px) and (max-width: 1023px) {
}

//pc
@media (min-width: 1024px) {
}
