.menu-item {
    display: flex;
    align-items: center;
    color: var(--text-color);
    font-size: 1.8rem;
    font-weight: 700;
    padding: 8px 8px 8px 0;
    border-radius: 4px;
    transition: background-color ease-in 200ms;
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }

    &.active {
        color: var(--primary-color);

        .icon {
            display: none;
        }

        .active-icon {
            display: flex;
        }
    }
}

.title {
    margin-left: 10px;
}

.active-icon {
    display: none;
}

// mobile
@media (max-width: 739px) {
    .title {
        display: none;
    }
}

//tablet
@media (min-width: 740px) and (max-width: 1023px) {
    .title {
        display: none;
    }
}

//pc
@media (min-width: 1024px) {
}
