.wrapper {
    position: relative;
}

.close-wrap {
    z-index: 4;
    position: absolute;
    top: 16px;
    left: 16px;
    width: 36px;
    height: 36px;
    background-color: #444;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

    &:hover {
        background-color: #333;
    }
}

.close-icon {
    width: 20px;
    height: 20px;
    color: #fff;

    &:hover {
        color: #dbcfcf;
    }
}

.next-prev-video {
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
}

.next-video {
    width: 40px;
    height: 40px;
    background-color: #444;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    &:hover {
        opacity: 0.6;
    }
}

.next-icon {
    transform: rotate(90deg);
}

.prev-video {
    margin-bottom: 20px;
    width: 40px;
    height: 40px;
    background-color: #444;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    &:hover {
        opacity: 0.6;
    }
}

.prev-icon {
    transform: rotate(-90deg);
}

.video-content {
    display: flex;
}
.video-wrap {
    position: relative;
    flex: 1;
    max-width: 1400px;
    display: flex;
    justify-content: center;
}

.video {
    width: 100%;
    min-width: 522px;
    height: 100vh;
    min-height: 100vh;
    background-color: #333;
    color: #333;
    object-fit: contain;
}

.infor-comment {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
}

.infor {
}

.comment {
}
