.wrapper {
    background-color: #fff;
    width: 500px;
    height: 560px;
    border-radius: 12px;
    z-index: 1000;
    animation: ShowLogin linear 0.2s;
    z-index: 1000;
}

@keyframes ShowLogin {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.header {
    display: flex;
    flex-direction: column;
}

.header-icon-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-close-wrap {
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    width: 42px;
    height: 42px;
    background-color: rgb(240, 240, 240);
    border-radius: 50%;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    &:hover {
        opacity: 0.6;
        cursor: pointer;
    }
}

.icon-prev-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    margin-left: 10px;
    margin-top: 10px;
    &:hover {
        cursor: pointer;
    }
}

.icon-prev {
    width: 26px;
    height: 26px;
    &:hover {
        opacity: 0.7;
    }
}

.icon-close {
    width: 26px;
    height: 26px;
}

.heading {
    align-self: center;
    font-size: 3.2rem;
    color: #161823;
    margin-bottom: 60px;
}

.content {
    padding: 0 50px;
}

.login-method {
    display: flex;
    align-items: center;
    padding: 0 16px;
    width: 100%;
    height: 42px;
    border: 1px solid rgb(227, 227, 228);
    margin-bottom: 20px;
    &:hover {
        cursor: pointer;
        opacity: 0.6;
    }
}

.icon {
    flex: left;
    width: 20px;
    height: 20px;
}

.desc {
    flex: 1;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    color: #161823;
}

.title {
    font-size: 1.5rem;
    color: #161823;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    border-top: 1px solid rgb(227, 227, 228);
    padding-top: 20px;
}

.sing-up {
    padding-left: 4px;
    font-size: 1.5rem;
    color: var(--primary-color);
    font-weight: 500;
    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

// css when have login qr
.Login-qr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 83px;
}

.qr-help {
    display: flex;
    flex-direction: column;
}

.img-qr {
    width: 180px;
    height: 180px;
}

.help {
    margin-top: 16px;
}

.help-step {
    margin-top: 6px;
    font-size: 1.4rem;
    color: #161823bf;
}

.preview-help {
}

.preview-help-img {
    width: 200px;
    height: 256px;
}
